@page
@model BlogApp.FrontEnd.Pages.Articles.IndexModel
@{
    ViewData["Title"] = "Lista de Artículos";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <form id="frmSearch" class="row g-3">
        <div class="col-2">
            <label for="searchInput" class="col-form-label">Buscar</label>
        </div>
        <div class="col-6">
            <input type="text" class="form-control" id="searchInput" placeholder="Escribe tu filtro...">
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </form>
</div>

<div class="d-flex justify-content-end mb-3">
    <a asp-page="/Articles/Create" class="btn btn-primary">Crear Nuevo</a>
</div>

<div id="results">
    <partial name="_ArticlesList" model="Model.ArticleList" />
</div>

@section Scripts {
    <script type="text/javascript">

        $(function () {
            $('#frmSearch').on('submit', function (e) {
                e.preventDefault();
                SearchEvt();
            });
        });

        function Delete_click(id){
            var response = confirm("¿Desea eliminar el registro?");
            if(response){
                var url = '@Url.Page("/Articles/index", "delete")';
                console.log(url);
                $.post(url, { id:id })
                    .done(function(response){
                        if(response.IsSuccess){
                            SearchEvt();
                        } else {
                            alert(response.Message);
                        }
                    })
                    .fail(function() {
                        alert("Error al intentar eliminar.");
                    });
            }
        }

        function evtChangePage(page){
            $("#inputPage").val(page);
            SearchEvt();
        }

        function SearchEvt(){
            var criteria = $('#searchInput').val().trim();
            var newPage = parseInt($("#inputPage").val()) || 1;
            var url = '@Url.Page("Index", "Search")'
            $.get(url, { p: newPage, criteria: criteria })
                .done(function (data) {
                            $('#results').html(data);
                 })
                 .fail(function () {
                            alert('Error al buscar');
                        });
        }
    </script>
}